@import "~common/stylus/mixin"

.user-center{
  position:absolute; 
  width:100%;
  z-index:0;
  padding-bottom:50px;
  background:#f2f2f2;
  .user-center-top{
  	width:100%;
  	height:170px;
  	padding-top:9px;
  	margin-bottom:8px;
  	bg('../../common/image/user-center/background.png');
    .user-avator-bg{
    	margin:0 auto;
    	position:relative;
    	width:93px;
	  	height:93px;
	  	padding-top:9px;
	  	bg('../../common/image/user-center/headimg.png');
	    font-size:0;
	    .user-avator-pic{
	    	width:60px;
	    	height:60px;
	    	position:absolute;
	    	left:0;
	    	right:0;
	    	top:0;
	    	bottom:0;
	    	margin:auto;
	    	border-radius:50%;
	    }
	    .user-avator-vip{
	    	width:42px;
	    	height:14px;
	    	position:absolute;
	    	left:0;
	    	right:0;
	    	top:78px;
	    	margin:auto;
	    }
    }
    .user-name{
    	width:100%;
    	height:31px;
    	line-height:31px;
    	text-align:center;
    	font-size:14px;
    	color:#fff;
    	margin-bottom:4px;
    }
    .user-center-top-bottom{
    	flex-between();
    	width:100%;
    	height:33px;
    	line-height:33px;
    	color:#fff;
    	padding:0 15px;
    	.user-center-top-bottom-left{
    		.user-center-top-bottom-left-text{
    			font-size:14px;
    		}
    		.user-center-top-bottom-money{
	    		font-size:16px;
	    	}
    	}
    	.user-center-top-bottom-right{
    		.more-text{
	    		vertical:middle;
	    		margin-right:6px;
	    		font-size:14px;
	    	}
	    	.more-pic{
	    		vertical:middle;
	    		display:inline-block;
	    		width:5px;
	    		height:9px;
	    		bg('../../common/image/user-center/icon01.png');
	    	}
    	}
    }
  }
  .user-center-list{
  	width:100%;
  	margin-bottom:8px;
  	background:#fff;
  	padding:0 15px;
  	.user-center-item{
  		&:last-child{
  			&:after{
  				border-top:none;
  			}
  		}
  		borderbottom-1px($grey);
  		flex-between();
  		width:100%;
  		height:50px;
  		.user-center-item-left{
  			.user-center-item-left-pic{
  				display:inline-block;
  				width:21px;
  				height:21px;
  				vertical-align:middle;
  				margin-right:13px;
  			}
  			.pic1{
  				bg('../../common/image/user-center/icon03.png')
  			}
  			.pic2{
  				bg('../../common/image/user-center/icon04.png')
  			}
  			.pic3{
  				bg('../../common/image/user-center/icon05.png')
  			}
  			.pic4{
  				bg('../../common/image/user-center/icon06.png')
  			}
  			.pic5{
  				bg('../../common/image/user-center/icon07.png')
  			}
  			.pic6{
  				bg('../../common/image/user-center/icon08.png')
  			}
  			.user-center-item-left-text{
  				font-size:14px;
  				color:#000;
  			}
  		}
  		.user-center-item-right{
  			width:5px;
  			height:9px;
  			bg('../../common/image/user-center/icon02.png')
  		}
  	}
  }
}