@import "~common/stylus/mixin"

.profit-list{
  position:absolute; 
  width:100%;
  z-index:0;
  padding-bottom:50px;
  background:#f2f2f2;
  .profit-list-top{
  	width:100%;
  }
  .prifit-list-contain{
  	position:relative;
  	width:100%;
  	height:453px;
  	.prifit-list-header{
  		position:absolute;
  		left:0;
  		right:0;
  		top:-20px;
  		margin:auto;
  		width:calc(100% - 30px);
  		height:40px;
  		background:#fff;
  		border-radius:3px;
  		z-index:100;
  		flex-between();
  		text-align:center;
  		font-size:14px;
  		color:#000;
  		.prifit-list-header-left{
  			width:25%;
  		}
  		.prifit-list-header-center{
  			width:39%;
  		}
  		.prifit-list-header-right{
  			width:35%;
  		}
  	}
  	.prifit-list-content{
  		position:absolute;
  		left:0;
  		right:0;
  		top:25px;
  		margin:auto;
  		width:calc(100% - 30px);
  		height:338px;
  		background:#fff;
  		border-radius:3px;
  		z-index:100;
  		padding-top:13px;
  		overflow:scroll;
			-webkit-overflow-scrolling:touch; 
			.prifit-item{
				width:100%;
				height:40px;
				text-align:center;
	  		font-size:14px;
	  		color:#000;
				flex-between();
				.prifit-item-left{
					width:25%;
					height:40px;
					line-height:40px;
					font-size:16px;
				}
				.prifit-item-center{
					width:39%;
				}
				.prifit-item-right{
					width:35%;
					color:$red;
					font-size:16px;
				}
				&:nth-child(1){
					.prifit-item-left{
						bg('../../common/image/prifit-list/first.png')
						background-size:23px 25px;
					}
				}
				&:nth-child(2){
					.prifit-item-left{
						bg('../../common/image/prifit-list/second.png')
						background-size:23px 25px;
					}
				}
				&:nth-child(3){
					.prifit-item-left{
						bg('../../common/image/prifit-list/third.png')
						background-size:23px 25px;
					}
				}
			}
  	}
  	.prifit-list-footer{
  		position:absolute;
  		left:0;
  		right:0;
  		top:371px;
  		margin:auto;
  		width:calc(100% - 30px);
  		height:40px;
  		background:#fff;
  		border-radius:3px;
  		z-index:100;
  		padding:0 30px;
  		line-height:40px;
      flex-between();  
      .prifit-list-footer-left{        
    		.prifit-list-footer-text{
    			font-size:14px;
    			color:#000;
    		}
    		.prifit-list-money{
    			font-size:16px;
    			color:$red;
    		}
    		.prifit-list-footer-moneytext{
    			font-size:14px;
    			color:$red;
    		}
      }
      .prifit-list-footer-right{
        opacity:.6;
        .prifit-list-footer-text{
          font-size:14px;
          color:#000;
        }
        .prifit-list-money{
          font-size:16px;
          color:$red;
        }
        .prifit-list-footer-moneytext{
          font-size:14px;
          color:$red;
        }
      }
  	}
  	.prifit-list-detail-link{
  		position:absolute;
  		right:15px;
  		bottom:0;
  		height:32px;
  		line-height:32px;
  		color:$red;
  		font-size:12px;
  		.prifit-list-detail-link-text{
  			vertical-align:middle;
  			margin-right:4px;
  		}
  		.prifit-list-detail-link-pic{
  			display:inline-block;
  			width:5px;
  			height:9px;
  			bg('../../common/image/prifit-list/link.png');
  			vertical-align:middle;
  		}
  	}
  }
}