@import "~common/stylus/mixin"

.rule{
  position:absolute; 
  width:100%;
  z-index:200;
  padding-bottom:50px;
  background:#f2f2f2;
  .rule-header{
    width:100%;
    height:80px;
    padding:19px 15px;
    background:#fff;
    margin-bottom:8px;
    flex-column();
    .rule-top{
      width:100%;
      display:flex;
      align-items:center;
      .rule-top-text{
        font-size:13px;
        color:#000;
        margin-right:10px;
        ver-align:middle;
      }
      .rule-top-vip{
        width:42px;
        ver-align:middle;
      }
    }
    .rule-bottom{
      width:100%;
      display:flex;
      align-items:center;
      .rule-bottom-text{
        font-size:13px;
        color:#000;
        margin-right:10px;
        ver-align:middle;
      }
      .rule-bottom-money{
        font-size:16px;
        color:$red;
        ver-align:middle;
      }
      .rule-bottom-moneytext{
        font-size:14px;
        color:$red;
        ver-align:middle;
      }
    }
  }
  .banner{
    width:100%;
    height:63px;
    bg('../../common/image/rule/banner.png')
    background-size:cover;
  }
  .table{
    width:100%;
    background:#fff;
    table{
      width:100%;
      thead{
        width:100%;
        tr{
          height:40px;
          font-size:13px;
          coloe:#000;
        }
        .td1{
          width:24%;
          font-weight:bold;
        }
        .td2{
          width:32%;
          font-weight:bold;
        }
        .td3{
          width:22%;
          font-weight:bold;
        }
        .td4{
          width:22%;
          font-weight:bold;
        }
      }
      tbody{
        width:100%;
        tr{
          height:60px;
          font-size:13px;
          coloe:#000;
        }
      }
      tr{
        td{
          text-align:center;
          vertical-align:middle;
          line-height:18px;
          .vip-pic{
            width:38px;
          }
          .table-num{
            font-size:25px;
            color:$red;
          }
          .table-numtext{
            font-size:15px;
            color:$red;
          }
          .td2-text{
            display:inline-block;
          }
        }
      }
    }
  }
  .rule-footer{
    width:100%;
    padding:15px;
    font-size:12px;
    color:#666666;
    line-height:18px;
  }
}