@import "~common/stylus/mixin"

.withdrawals-record{
  position:absolute; 
  width:100%;
  height:100%;
  z-index:200;
  background:#f2f2f2;
  .withdrawals-record-list{
    width:100%;
    
    .withdrawals-record-item{
      width:100%;
      height:163px;
      background:#fff;
      margin-bottom:8px;
      &:last-child{
        margin-bottom:0;
      }
      .withdrawals-record-item-top{
        margin:0 auto;
        width:calc(100% - 30px);
        height:40px;
        borderbottom-1px($grey)
        flex-between();
        .withdrawals-record-item-top-left{
          .withdrawals-record-item-top-text{
            font-size:14px;
            color:#000;
          }
          .withdrawals-record-item-top-money{
            font-size:16px;
            color:$red;
            margin-right:3px;
          }
          .withdrawals-record-item-top-moneytext{
            font-size:13px;
            color:$red;
          }
        }
        .withdrawals-record-item-top-right{
          font-size:13px;
          color:$red;
        }
      }
      .withdrawals-record-item-bottom{
        width:100%;
        height:123px;
        padding:15px;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        .withdrawals-record-item-bottom-item{
          .item-bottom-left{
            font-size:13px;
            color:#666666;
          }
          .item-bottom-right{
            font-size:13px;
            color:#000;
          }
        }
      }
    }
  }
  .empty-page{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
    .empty-round{
      position:absolute;
      left:50%;
      top:173px;
      width:880px;
      height:880px;
      margin-left:-440px;
      border-radius:50%;
      background:#fff;
      z-index:-1;
    }
    .empty-icon{
      margin:91px auto 29px;
      width:110px;
      height:143px;
      bg('../../common/image/empty/record_empty.png');
    }
    .text-contain{
      width:100%;
      height:82px;
      .empty-text1{
        text-align:center;
        font-size:14px;
        color:#666666;
        height:26px;
        line-height:26px;
      }
      .empty-text2{
        text-align:center;
        font-size:12px;
        color:#000;
        height:23px;
        line-height:23px;
      }
    }
    .link-btn{
      margin:0 auto;
      width:84px;
      height:35px;
      line-height:35px;
      border-radius:3px;
      border:1px solid $red;
      text-align:center;
      font-size:16px;
      color:$red;
    }
  }
  .empty-bg-bottom{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:30%;
    background:#fff;
  }
}