@import "~common/stylus/mixin"

.problem{
  position:absolute; 
  width:100%;
  z-index:200;
  background:#f2f2f2;
  .question-list{
  	width:100%;
  	padding:10px 15px 6px;;
  	.question-item{
  		width:100%;
  		.question-item-top{
  			width:100%;
  			padding:7px 0;
  			line-height:18px;
  			.question-item-top-left{
  				font-size:16px;
  				color:#000;
          font-weight:bold;    
  			}
  			.question-item-top-right{
  				font-size:14px;
  				color:#000;
          font-weight:bold;    
  			}
  		}
  		.question-item-bottom{
  			width:100%;
  			background:#fff;
  			padding:15px;
  			font-size:13px;
  			color:#333333;
  			margin-bottom:10px;
  			line-height:20px;
        border-radius:3px;   
  		}
  	}
  }
}