$grey=#d7d7d7;
$yellow=#fdd953;
$red=#e51c23;


flex-between(){
  display:flex;
  justify-content:space-between;
  align-items:center;
}

flex-column(){
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}

bg($url){
  background-image:url($url);
  background-position:center;
  background-size:100%;
  background-repeat:no-repeat;
}

// // 背景图片
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

// // 不换行
// no-wrap()
//   text-overflow: ellipsis
//   overflow: hidden
//   white-space: nowrap

// // 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px
    
extend-click-left()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    bottom: -10px
    

extend-click-right()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    right: -10px
    bottom: -10px
    
bordertop-1px($color)
  position: relative
  &:after
    display: block
    position: absolute
    left: 0
    top: 0
    width: 100%
    border-top: 1px solid $color
    transform: scaleY(1)
    content: ' '
    @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
      transform: scaleY(.5)
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
      transform: scaleY(.4)
      
borderbottom-1px($color)
  position: relative
  &:after
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    border-top: 1px solid $color
    content: ' '
    @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
      transform: scaleY(.5)
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
      transform: scaleY(.4)
    
borderright-1px($color)
  position: relative
  &:after
    display: block
    position: absolute
    right: 0
    top: 0
    width: 1px
    height:100%
    border-right: 1px solid $color
    transform: scaleX(1)
    content: ' '
    @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
      transform: scaleX(.5)
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
      transform: scaleX(.4)